.admin-sub-details {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
}
.admin-sub-details > table {
  border: 2px solid #fff;
  padding: 0.5rem;
  border-radius: 0.3rem;
  color: #fff;
}
.admin-sub-details > table > thead > tr > th {
  border: 2px solid #ddd;
  text-align: center;
  padding: 0.3rem 0.4rem;
}
.admin-sub-details > table > tbody > tr > td {
  border: 2px solid #ddd;
  text-align: center;
  padding: 0.3rem 0.4rem;
}

/* -----------Responsive-ness */

@media (max-width: 500px) {
  .admin-sub-details table tbody tr td {
    font-size: 0.9rem;
  }
  .admin-sub-details {
    padding: 3rem 0.5rem;
  }
}
